@model ChoixResto.ViewModels.ListVoteRestoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vote</title>
</head>
<body>
    <p>
        Cochez les restaurants où vous voulez bien aller. Attention, le vote est définitif !
    </p>
    @using (Html.BeginForm())
    {
        <fieldset>
            @Model.MessageErreur
            @Model.MessageSucces
            <br />

            @if (string.IsNullOrEmpty(Model.MessageErreur))
            {
                foreach (var resto in Model.listVoteResto)
                {
                    @Html.CheckBox(resto.Resto.Nom)
                    @Html.Label(resto.Resto.Nom)
                    @Html.EditorFor(x => resto)
                    <br />
                }
                <input type="submit" value="Valider" />
            }
        </fieldset>
    }
</body>
</html>
